body {
    box-sizing: border-box;
    margin: 0;
    background: linear-gradient(to bottom, #a1e9ff, #48c5eb, #009fcf);
}

.page-title {
    font-size: 2.5rem;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    background-color: rgba(56, 192, 255, 0.5);
    padding: 35px;
    margin: 0;
}

.input-form {
    align-items: center;
    vertical-align: middle;
    display: flex;
    flex-direction: column;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    background-color: rgba(56, 192, 255, 0.5);
}

#submit {
    background-color: #00ff00;
    border-radius: 30px;
    margin: 10px;
    padding: 10px;
    font-size: 1rem;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    box-shadow: 2px 2px #12330a;
}

.agent-name {
    border-radius: 30px;
    padding: 5px;
}

.agent-type {
    border-radius: 30px;
    padding: 5px;
}

.agent-image {
    border-radius: 30px;
    padding: 5px;
}

.entry {
    width: 19%;
    height: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 238, 255, 0.2);
    justify-content: space-around;
    border-radius: 30px;
    vertical-align: middle;
    margin: 30px;
    text-align: center;
    padding: 10px;
    border-style: outset;
    border-color: #00aeff;
    border-width: 0.7rem;
    box-shadow: 5px 10px #0a2933;
    font-family: 'Poppins', sans-serif;
}

.agent-name-card {
    text-transform: uppercase;
}

#container-box {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.card-img {
    width: 100%;
    height: 100%;
}

.card-title {
    font-size: 2.5rem;
    text-transform: uppercase;
    font-family: 'Skranji', cursive;
}

.remove {
    background-color: red;
    font-size: 1rem;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    border-radius: 30px;
    padding: 10px;
    box-shadow: 2px 2px #330a0a;
    transition: all 0.5s;
}

.remove:hover{
    transform: scale(1.15);
}

#submit {
    transition: all 0.5s;
}

#submit:hover{
    transform: scale(1.15);
}

@media screen and (max-width: 1200px) {
    .card {
        width: 40%;
    }
}

@media screen and (max-width: 800px) {
    .card {
        width: 100%;
    }
}

