body {
    box-sizing: border-box;
    margin: 0;
    background: linear-gradient(to bottom, #ffbd7f, #e4a863, #cc964f);
}

.input-form {
    background-color: #e4a863;
    align-items: center;
    vertical-align: middle;
    display: flex;
    flex-direction: column;
    text-align: center;
}

#submit {
    background-color: greenyellow;
    border-width: 0;
    border-radius: 30px;
    margin: 10px;
    padding: 10px;
    font-size: 1rem;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
}

.first-name {
    border-radius: 30px;
    padding: 5px;
}

.last-name {
    border-radius: 30px;
    padding: 5px;
}

.height {
    border-radius: 30px;
    padding: 5px;
}

.entry {
    width: 19%;
    height: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(255, 255, 0, 0.2);
    justify-content: space-around;
    border-radius: 30px;
    vertical-align: middle;
    margin: 30px;
    text-align: center;
    padding: 10px;
    border-style: outset;
    border-color: #ff8f33;
    border-width: 0.7rem;
    box-shadow: 5px 10px #331c0a;
}

#container-box {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.card-img {
    width: 100%;
    height: 100%;
}

.card-title {
    font-size: 2.5rem;
    text-transform: uppercase;
    font-family: 'Skranji', cursive;
}

.remove {
    background-color: red;
    border-width: 0;
    font-size: 1rem;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    border-radius: 30px;
    padding: 10px;
    box-shadow: 2px 2px #330a0a;
    transition: all 0.5s;
}

.remove:hover{
    transform: scale(1.15);
}

@media screen and (max-width: 1200px) {
    .card {
        width: 40%;
    }
}

@media screen and (max-width: 800px) {
    .card {
        width: 100%;
    }
}